[Unit]
Description=Nextcloud Talk signaling server

[Service]
ExecStart=/usr/local/sbin/signaling --config /etc/signaling/server.conf
User=signaling
Group=signaling
Restart=on-failure

[Install]
WantedBy=multi-user.target
