opt/bat/footprint.gz
opt/emacs/footprint.gz
opt/ffmpeg-python/footprint.gz
opt/i3status-rust/footprint.gz
opt/mycode/footprint.gz
opt/nwg-look/footprint.gz
opt/puddletag/footprint.gz
opt/btop/footprint.gz
