[Unit]
Description=Rustdesk Signal Server
[Service]
Type=simple
LimitNOFILE=1000000
ExecStart=/usr/local/sbin/hbbs -k _ -r example.com:21117
WorkingDirectory=/var/db/hbbs
User=hbbs
Group=rustdesk
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
